<div style="height: 100vh;">
  <div class="col-lg-12 col-md-12 col-sm-12 nomargin nopadding" style="    height: 50px;
  text-align: center;
  display: flex;
  background: #0e6b80;">
    <a href="#" class="text-decoration-none" style="    display: block;
    margin: auto;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;">Viz Index</a>
  </div>
  <div class="col-12 col-12 nopadding" style="display: flex;height: calc(100vh - 50px);">
    <div style="    height: calc(100vh - 50px);
    background: #ffffff;
    border: 2px solid #53c2dc;" class="col-3 col-3 nopadding">
        <a href="#" class="text-decoration-none" style="display: block;
        margin: auto;
        font-size: 1em;
        color: #0e6b80;
        font-weight: 400;
        text-align: center;
        margin-top: 15px;">Visualization Input</a>

        <ng-multiselect-dropdown
        [placeholder]="'Select County 1'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        style="    display: block;
        padding: 0px 30px;
        margin: 20px 0px;"
        >
        </ng-multiselect-dropdown>

        <ng-multiselect-dropdown
        [placeholder]="'Select County 2'"
        [settings]="dropdownSettings2"
        [data]="dropdownList2"
        [(ngModel)]="selectedItems2"
        (onSelect)="onItemSelect2($event)"
        style="    display: block;
        padding: 0px 30px;
        margin: 20px 0px;"
        >
        </ng-multiselect-dropdown>

        <ng-multiselect-dropdown
        [placeholder]="'Select Industry Sector'"
        [settings]="dropdownSettings_industries"
        [data]="dropdownList_industries"
        [(ngModel)]="selectedItems_industries"
        (onSelect)="onItemSelect_industries($event)"
        style="    display: block;
        padding: 0px 30px;
        margin: 20px 0px;"
        >
        </ng-multiselect-dropdown>


        <button type="button" class="btn btn-primary" style="    margin: auto;
        display: block;
        width: 86%;padding: 10px;">Visualize!</button>

        <button type="button" (click)="open(mymodal)" class="btn btn-primary" style="    margin: auto;
        display: block;
        width: 86%;    margin-top: 20px;
    padding: 10px;">Full Overview Visualization</button>

    </div>
    <div class="col-lg-9 col-9 nopadding" style="height: calc(100vh - 50px);">
      <div style="height:calc(60vh - 25px);border-bottom: 3px solid #54c3dc;position: relative;"> 
          <div id="map"></div>
          <div style="position: absolute;
          z-index: 999;
          width: 45%;
          margin: auto;
          bottom: 15px;
          left: 18px;"> 
              <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
          </div>
          <div style="    position: absolute;
          top: 90px;
          z-index: 999;
          left: 0;
          background: #54c3dcb5;
          padding: 10px;
          border: 1px solid #54c3dc;">
            <div style="padding: 10px;    border: 1px solid #45adc3;
            background: #bacdd48a;
            margin-bottom: 10px;">
              <p style="margin: 0;
              font-weight: 700;
              color: #0c6b80;
              font-size: 1.1em;">ALABAMA</p>
              <p style="font-size: 0.8em;
              font-weight: 300;
              color: #0b417d;
              margin: 0;">2019(Q1) to 2020(Q1)</p>
              <p style="color: #d03636;
              font-size: 1.1em;
              font-weight: 400;margin: 0;">-10<span style="font-size: 0.7em;">%</span></p>
            </div>
            <div style="padding: 10px;    border: 1px solid #45adc3;
            background: #bacdd48a;">
                <p style="margin: 0;
                font-weight: 700;
                color: #0c6b80;
                font-size: 1.1em;">TEXAS</p>
                <p style="font-size: 0.8em;
                font-weight: 300;
                color: #0b417d;
                margin: 0;">2019(Q1) to 2020(Q1)</p>
                <p style="color: #0c8a50;
                font-size: 1.1em;
                font-weight: 400;margin: 0;">+23<span style="font-size: 0.7em;">%</span></p>
              </div>
          </div>
      </div>
      <div style="height:calc(40vh - 25px);" class="graphdiv"> 
          <div id="chart" *ngIf="showGraph" style="    width: 100%;
          display: block;">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [stroke]="chartOptions.stroke"
                [colors]="chartOptions.colors"
                [dataLabels]="chartOptions.dataLabels"
                [legend]="chartOptions.legend"
                [markers]="chartOptions.markers"
                [grid]="chartOptions.grid"
                [yaxis]="chartOptions.yaxis"
                [title]="chartOptions.title"
              ></apx-chart>
            </div>
      </div>
    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Overview Multi-Visualization (Currently Dummy)</h4>
    <button type="button" class="close" style="outline: none;" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="../assets/WhatsApp Image 2020-12-09 at 4.21.24 PM.jpeg">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Dismiss</button>
  </div>
</ng-template>